# Dépendances
node_modules/

# Fichiers système
.DS_Store
Thumbs.db

# Variables d'environnement & Secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Replit
.replit.backup
